button {
  display: inline-block;
  padding: 0;
  position: relative;
  background: linear-gradient(to right, #3b3b3b 70%, $dark-gray-color);
  border: none;
  color: $white-color;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0;

  &.light {
    color: $white-color;
    background: rgba(0, 0, 0, 0.3);
  }

  span {
    &.button-text-container {
      display: flex;
      align-items: center;
      padding: 15px 30px;
      position: relative;
    }
    &.button-text {
      white-space: nowrap;
    }
  }

  i.line {
    height: 1px;
    background: $white-color;
    display: block;
    @include transition;
    position: absolute;
    width: 0;
    &.before-line {
      left: 10px;
    }
    &.after-line {
      right: 10px;
    }
  }

  @media only screen and (min-width: 1024px) {
    &::before, &::after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: $white-color;
    }
    &::after {
      left: 2px;
      bottom: 2px;
      transition-delay: 0.6s;
    }
    &::before {
      right: 2px;
      top: 2px;
      transition-delay: 0.2s;
    }

    &:hover:not(:disabled), &.hovered {
      &::before, &::after {
        width: calc(100% - 4px);
      }
      &::after {
        transition-delay: 0s;
      }
      &::before {
        transition-delay: 0.4s;
      }
      span.button-text-container {
        &::before, &::after {
          height: calc(100% - 4px);
        }
        &::after {
          transition-delay: 0.2s;
        }
        &::before {
          transition-delay: 0.6s;
        }
      }
      i.line {
        width: 15px;
        margin: 0;
      }
    }

    span {
      &.button-text-container {
        @include transition;
        transition-delay: 0.6s;
        &::before, &::after {
          content: '';
          width: 2px;
          height: 0;
          position: absolute;
          transition: all 0.2s linear;
          background: $white-color;
        }
        &::after {
          transition-delay: 0.4s;
          right: 2px;
          bottom: 2px;
        }
        &::before {
          transition-delay: 0s;
          left: 2px;
          top: 2px;
        }
      }
    }

  }
}