$text-color: #222;
$dark-gray-color: #3b3b3b;
$medium-gray-color: #818181;
$light-gray-color: #9e9e9e;
$white-color: #FFF;

$primary-color: #1A4CC1;
$light-primary-color: #E6EBF7;
$dark-primary-color: #0038BA;

$secondary-color: #FFB300;
$light-secondary-color: #FEF4E0;