@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');

body {
  font-family: 'Khula', sans-serif;
  color: $text-color;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: -15%;
    height: 45%;
    width: 120%;
    background: $ultra-light-primary-color;
    z-index: -1;
    transform: skew(-25deg);
  }
}

.logo {
  width: 50px;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 26px;
  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 34px;
  }
}

.padding {
  padding: 30px;
}

.max-width {
  max-width: 900px;
  margin: auto;
}

.site-content {
  background: $white-color;
}