.title {
  font-size: 32px;
  margin-bottom: 20px;
  .before-text {
    line-height: 42px;
    display: block;
  }
  .highlighted {
    font-size: 34px;
    position: relative;
    display: inline-block;
    z-index: 10;
    left: -10px;
    padding: 5px 10px;
    border: 2px solid $text-color;
    font-weight: 700;
    color: $primary-color;
    line-height: 42px;
    &.white {
      color: $white-color;
      border-color: $white-color;
    }
  }
}