.pricing {
  background: $primary-color;
  position: relative;
  color: $white-color;
  overflow: hidden;
  canvas {
    display: none;
    @media only screen and (min-width: 768px) {
      display: block;      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .pricing-content {
    p {
      margin: 0;
    }
  }
  button {
    margin-top: 30px;
    color: $white-color;
    &::before, &::after, i.line {
      background: $white-color;
    }
    span.button-text-container {
      &::before, &::after {
        background: $white-color;
      }
    }
  }
}