#modal {
  #modal-body {
    overflow: scroll;
    animation-duration: .25s;
    background: $white-color;
    color: $text-color;
    margin: 0 auto;
    z-index: 111111;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .modal-header {
      padding: 0 30px;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
    }
    .close {
      &.hide-circle {
        .circle {
          @include animation(removeDash);
        }
      }
      &.show-circle {
        .circle {
          stroke-dashoffset: 0;
          @include animation(drawDash, .75s);
        }
      }
    }
    .circle-icon {
      width: 55px;
      height: 55px;
      position: absolute;
      top: 20px;
      right: 16px;
      cursor: pointer;
      .circle {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke: $white-color;
        stroke-width: 4px;
      }
    }
    img.icon {
      width: 25px;
    }

    @media only screen and (min-width: 500px) {
      .modal-content {
        position: relative;
        text-align: center;
      }
      .circle-icon {
        width: 55px;
        height: 55px;
      }
    }
  }
}
