header {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: calc(50% - 120px);
  }
  .logo {
    width: 40px;
    margin-bottom: 30px;
  }
  button {
    border-color: $white-color;
    color: $white-color;
    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  @media only screen and (min-width: 768px) {
    .header-container {
      flex-direction: row;
      left: auto;
      justify-content: space-between;
      width: calc(100vw - 60px);
    }
    .logo {
      margin: 0;
    }
  }
}