header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1260px;
  margin: auto;
  display: flex;
  justify-content: flex-end;

  .desktop-nav {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    top: 10px;
    bottom: auto;

    #nav-button {
      display: none;
    }

    .desktop-nav {
      display: flex;
      justify-content: flex-end;

      a {
        margin-left: 30px;
        color: $light-gray-color;
        @include transition;
        cursor: pointer;
        position: relative;
        z-index: 2;

        &::before {
          content: '';
          @include border-radius;
          position: absolute;
          bottom: -5px;
          left: -15px;
          background: $light-primary-color;
          z-index: -1;
          @include transition;
          width: 0;
          height: 1px;
          opacity: 0;
        }

        &:hover {
          color: $white-color;

          &::before {
            width: 30%;
            left: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}