@import './About/about';
@import './Banner/banner';
@import './Box/box';
@import './Footer/footer';
@import './Header/header';
@import './Modal/modal';
@import './Nav/nav';
@import './Nav/nav-button';
@import './Portfolio/portfolio';
@import './Pricing/pricing';
@import './Section/section';
@import './Testimonials/testimonials';
@import './Title/title';