@import './About/about';
@import './Banner/banner';
@import './Box/box';
@import './Contact/contact-form';
@import './Footer/footer';
@import './Header/header';
@import './Modal/modal';
@import './Portfolio/portfolio';
@import './Pricing/pricing';
@import './Testimonials/testimonials';