.box {
  display: grid;
  grid-template-rows: calc(100vw - 60px) 1fr;
  overflow: hidden;
  cursor: pointer;
  .home-info {
    background: $text-color;
    color: $white-color;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    padding: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &:hover {
      color: $light-primary-color;
    }
    h3 {
      max-width: 70%;
    }
    p {
      font-size: 14px;
    }
  }
  .home-picture {
    transition: all .25s ease-in-out;
    border: 1px solid $text-color;
    &:hover {
      border-width: 15px;
    }
  }
  @media only screen and (min-width: 500px) {
    grid-template-rows: calc(50vw - 30px);
    grid-gap: 10px;
    &.odd {
      grid-template-columns: 60vw calc(40vw - 10px);
    }
    &.even {
      grid-template-columns: calc(40vw - 10px) 60vw;
      .home-info {
        grid-column: 1 / 2;
      }
      .home-picture {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
    .home-info {
      font-size: 24px;
      line-height: 34px;
    }
  }
  @media only screen and (min-width: 768px) {
    .home-info {
      font-size: 32px;
      line-height: 42px;
    }
  }
  @media only screen and (min-width: 1200px) {
    &.odd {
      grid-template-columns: 60% calc(40% - 10px);
    }
    &.even {
      grid-template-columns: calc(40% - 10px) 60%;
    }
  }
}