.box {
  display: grid;
  grid-template-rows: calc(100vw - 60px) 1fr;
  overflow: hidden;
  cursor: pointer;
  .home-info {
    color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px $text-color;
  }
  .home-picture {
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fillers {
    display: none;
  }
  @media only screen and (min-width: 500px) {
    grid-template-rows: calc(50vw - 30px);
    grid-gap: 10px;
    &.odd {
      grid-template-columns: 60vw calc(40vw - 10px);
    }
    &.even {
      grid-template-columns: calc(40vw - 10px) 60vw;
      .home-info {
        grid-column: 1 / 2;
      }
      .home-picture {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
    .home-info {
      font-size: 42px;
      line-height: 51px;
    }
    .home-picture {
      @include border-radius;
    }
    .fillers {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      overflow: hidden;
      @include border-radius;
      .filler {
        @include border-radius;
      }
    }
  }
  @media only screen and (min-width: 1200px) {
    grid-template-rows: calc(650px - 30px);
    &.odd {
      grid-template-columns: 60% calc(40% - 10px);
    }
    &.even {
      grid-template-columns: calc(40% - 10px) 60%;
    }
  }
}