.box {
  display: grid;
  overflow: hidden;
  cursor: pointer;
  .home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .name, .view {
    position: relative;
    z-index: 11;
    color: $white-color;
  }
  .name {
    font-size: 36px;
    line-height: 45px;
    max-width: 90%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
    &.box-title {
      color: $light-gray-color;
    }
    .box-title-letter.white {
      @include transition(1s);
      color: $white-color;
    }
  }
  .home-picture {
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:hover {
      img {
        @include transition(5s);
        transform: scale(1.35);
      }
      .overlay {
        background: rgba(24, 24, 24, 0.4);
        @include transition(.75s);
      }
    }
    .home-info {
      z-index: 12;
    }
    .home-info, .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    img {
      @include transition(1s);
      width: 100%;
    }
    .overlay {
      @include transition;
      z-index: 10;
    }
    button {
      color: $white-color;
      &::before, &::after, i.line {
        background: $white-color;
      }
      span {
        &::before, &::after {
          background: $white-color;
        }
      }
    }
  }
}