#nav-button {
  position: relative;
  z-index: 1000;
  .nav-icon {
    width: 40px;
    height: 23px;
    position: relative;
    @include prefix(transform, rotate(0deg));
    @include prefix(transition, .5s ease-in-out);
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background: $white-color;
      opacity: 1;
      left: auto;
      @include prefix(transform, rotate(0deg));
      @include prefix(transition, .25s ease-in-out);
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2), &:nth-child(3) {
        right: 0;
      }
      &:nth-child(2) {
        top: 10px;
        width: 70%;
      }
      &:nth-child(3) {
        top: 21px;
        width: 85%;
      }
    }
    &.open {
      height: 30px;
      span {
        background: $light-gray-color;
        &:nth-child(1) {
          width: 0;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 10px;
          left: 0;
          width: 100%;
        }
        &:nth-child(2) {
          @include prefix(transform, rotate(45deg));
        }
        &:nth-child(3) {
          @include prefix(transform, rotate(-45deg));
        }
      }
    }
  }
}