.banner {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
    justify-content: center;
    align-items: center;
  .banner-media {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    z-index: 10;
    h1 {
      font-size: 1.65em;
      margin-bottom: 30px;
      color: $white-color;
      line-height: 1.4em;
    }
    h4 {
      font-size: 1.25em;
      color: $secondary-color;
      line-height: 1.2em;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 2.5em;
      }
      h4 {
        font-size: 1.5em;
      }
    }
  }
  .banner-footer {
    position: absolute;
    z-index: 100;
    left: calc(50vw - 70px);
    top: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 1.3em;
      color: $white-color;
    }
    img {
      width: 80px;
    }
  }
  .lines {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    opacity: .3;
  }
  .line {
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, $medium-gray-color 30%, $white-color 70%);
  }
}
.banner-placeholder {
  height: 100vh;
  max-height: 1000px;
}