.banner {
  padding: 75px 0;
  .banner-content {
    padding: 0 30px;
    h1 {
      font-size: 2.45em;
      margin-bottom: 30px;
      color: $white-color;
      line-height: 1.4em;
    }
    .title {
      color: $secondary-color;
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 0;
      .highlighted {
        font-size: 30px;
      }
    }
    .section {
      .content-section {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 2.5em;
      }
    }
  }
}