.banner {
  height: 100vh;
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .logo {
      width: 70%;
      margin: auto;
      max-width: 500px;
    }
  }
}