.banner {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  .banner-media {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
  }
  .banner-content {
    position: absolute;
    z-index: 100;
    left: calc(50vw - 70px);
    top: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 1.3em;
      color: $white-color;
    }
    img {
      width: 80px;
    }
  }
  .lines {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    opacity: .3;
  }
  .line {
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, $white-color 30%, $light-gray-color 70%);
  }
}
.banner-placeholder {
  height: 100vh;
  max-height: 1000px;
}